*,
*:before,
*:after {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Jost', sans-serif;
    color: #041E42;
}

html, body, h1, h2, p, ul, li, button, input, select{
    margin: 0;
    padding: 0;
    
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
main {
  flex-grow: 1;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all .3s ease-in-out;
    
}
.MuiRadio-action {
    border: 0.5px solid #cdd7e1;
}
.MuiBox-root li .Mui-selected {
    background: rgb(84 88 92 / 20%);
}